<?xml version="1.0" encoding="utf-8"?><ArrayOfSimpleRole xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SimpleRole><RoleName>Admin</RoleName><AssignedUsers><string>user1</string><string>user5</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>User</RoleName><AssignedUsers><string>user1</string><string>user3</string><string>user5</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>Guest</RoleName><AssignedUsers><string>user2</string><string>user3</string><string>user5</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>Power Users</RoleName><AssignedUsers><string>user1</string><string>user3</string><string>user4</string><string>user5</string></AssignedUsers></SimpleRole></ArrayOfSimpleRole>