<?xml version="1.0" encoding="utf-8"?>
<ArrayOfSimpleUser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <SimpleUser>
        <UserKey>9543e47d-996f-45c9-a9aa-0eb02e8525b7</UserKey>
        <UserName>user1</UserName>
        <Password>531CD7BCD239ADD214BA4CF98F079699AC768248</Password>
        <Email>user1@apress.com</Email>
        <CreationDate>2005-05-28T12:56:59.955688+02:00</CreationDate>
        <LastActivityDate>2005-05-29T19:19:31.9473792+02:00</LastActivityDate>
        <LastLoginDate>2005-05-29T19:19:31.9473792+02:00</LastLoginDate>
        <LastPasswordChangeDate>0001-01-01T00:00:00</LastPasswordChangeDate>
        <PasswordQuestion>no</PasswordQuestion>
        <PasswordAnswer>na</PasswordAnswer>
    </SimpleUser>
    <SimpleUser>
        <UserKey>bd242d9a-a753-4071-925f-0c6db61fa2c1</UserKey>
        <UserName>user2</UserName>
        <Password>531CD7BCD239ADD214BA4CF98F079699AC768248</Password>
        <Email>user2@apress.com</Email>
        <CreationDate>2005-05-28T12:59:48.7142304+02:00</CreationDate>
        <LastActivityDate>0001-01-01T00:00:00</LastActivityDate>
        <LastLoginDate>0001-01-01T00:00:00</LastLoginDate>
        <LastPasswordChangeDate>0001-01-01T00:00:00</LastPasswordChangeDate>
        <PasswordQuestion>second</PasswordQuestion>
        <PasswordAnswer>user</PasswordAnswer>
    </SimpleUser>
    <SimpleUser>
        <UserKey>3c65f9ba-9983-489d-a4cc-116d367d792f</UserKey>
        <UserName>user3</UserName>
        <Password>531CD7BCD239ADD214BA4CF98F079699AC768248</Password>
        <Email>user3@apress.com</Email>
        <CreationDate>2005-05-28T13:00:10.1650752+02:00</CreationDate>
        <LastActivityDate>0001-01-01T00:00:00</LastActivityDate>
        <LastLoginDate>0001-01-01T00:00:00</LastLoginDate>
        <LastPasswordChangeDate>0001-01-01T00:00:00</LastPasswordChangeDate>
        <PasswordQuestion>how much</PasswordQuestion>
        <PasswordAnswer>three</PasswordAnswer>
    </SimpleUser>
    <SimpleUser>
        <UserKey>daeb02e7-9d81-497b-af1a-e584b6cbc360</UserKey>
        <UserName>user4</UserName>
        <Password>531CD7BCD239ADD214BA4CF98F079699AC768248</Password>
        <Email>user23@apress.com</Email>
        <CreationDate>2005-05-28T13:00:44.2140352+02:00</CreationDate>
        <LastActivityDate>0001-01-01T00:00:00</LastActivityDate>
        <LastLoginDate>0001-01-01T00:00:00</LastLoginDate>
        <LastPasswordChangeDate>0001-01-01T00:00:00</LastPasswordChangeDate>
        <PasswordQuestion>abc</PasswordQuestion>
        <PasswordAnswer>def</PasswordAnswer>
    </SimpleUser>
    <SimpleUser>
        <UserKey>fda55375-af7d-42d3-ae8d-74e20f2dea5d</UserKey>
        <UserName>user5</UserName>
        <Password>531CD7BCD239ADD214BA4CF98F079699AC768248</Password>
        <Email>user5@apress.com</Email>
        <CreationDate>2005-05-28T13:01:14.8881424+02:00</CreationDate>
        <LastActivityDate>0001-01-01T00:00:00</LastActivityDate>
        <LastLoginDate>0001-01-01T00:00:00</LastLoginDate>
        <LastPasswordChangeDate>0001-01-01T00:00:00</LastPasswordChangeDate>
        <PasswordQuestion>def</PasswordQuestion>
        <PasswordAnswer>cba</PasswordAnswer>
    </SimpleUser>
</ArrayOfSimpleUser>